{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/select_comment_status.js') }}" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Gestion des commentaires - {{ article.title }}</h1>

        <p>Il vous suffit de changer le statut pour qu'il soit immédiatemment mis à jour.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'auteur</th>
                    <th>Adresse e-mail</th>
                    <th>Date de création</th>
                    <th>Contenu</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% if article.comments|length %}
                {% for comment in article.comments %}
                    <tr>
                        <td>{{ comment.user.firstname }} {{ comment.user.lastname }}</td>
                        <td>{{ comment.user.email }}</td>
                        <td>{{ comment.user.createdat|date('Y-m-d à h:m:i') }}</td>
                        <td>{{ comment.content }}</td>
                        <td>
                            <select class="status" data-comment="{{ comment.id }}">
                                <option value="waiting" {{ comment.status == 'waiting' ? 'checked' : '' }}>En attente</option>
                                <option value="accepted" {{ comment.status == 'accepted' ? 'checked' : '' }}>Approuvé</option>
                                <option value="refused" {{ comment.status == 'refused' ? 'checked' : '' }}>Non approuvé</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        Aucun commentaire
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}