<span>
    {# Check connected user already liked this article #}
    {% set alreadyLiked = false %}
    {% for like in article.likes %}
        {% if app.user == like.user %}
            {% set alreadyLiked = true %}
        {% endif %}
    {% endfor %}
    <span id="likeCount{{ article.id }}">{{ article.likes|length }}</span>
    <button type="button" class="btn like" data-article="{{ article.id }}" data-action="{{ alreadyLiked ? 'remove' : 'add' }}">
        <img src="{{ asset('img/heart_' ~ (alreadyLiked ? 'full' : 'empty') ~ '.png') }}" alt="Aimer" class="card-icon" id="like{{ article.id }}">
    </button>
</span>