#articleImg {
    display: block;
    height: 80vh;
    width: auto;
    margin: 5vh auto;
}

#details {
    display: flex;
    justify-content: space-between;
}

#recent div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

#recent div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2vh;
}

hr {
    border-top: 3px solid #343a40;
}