body {
    margin-bottom: 80px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #343a40;
    color: #FFFFFF;
    text-align: center;
}

footer div.container > * {
    margin: 0 3vh;
}

footer div#socialNetworks {
    display: inline-block;
}

footer div#socialNetworks a:nth-child(2n) {
    margin: 0 3vh;
}

footer div#socialNetworks img {
    height: 25px;
}