.card-head {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 20vh;
    width: 100%;
}

.card-head img {
    left: 50%;
    margin-left: -50%;
    position: absolute;
}

.card .card-body img.card-icon {
    height: 5vh;
}

a.more {
    font-weight: bold;
}
