section {
    width: 25%;
    height: 20vh;
    overflow: hidden;
    position: relative;
}

section div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(0,0,0,0.30);
    text-shadow: 1px 1px 1px #FFFFFF;
}

section h6 {
    position: absolute;
    left: 0;
    top: 40%;
}

section p {
    position: absolute;
    bottom: 0;
    right: 0;
}