{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block body %}
        <div class="container mt-4">
            <a class="btn btn-info" href="/">Retour à la page d'accueil</a>

            <h1 class="text-center">A Propos</h1>

            <div class="mt-5" id="about">
                <img src="{{ asset('img/stars.jpg') }}" alt="Etoiles" />

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut dui aliquam, porta tortor sit amet, condimentum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet tellus non magna blandit mattis. Integer vitae libero erat. Morbi nec libero sollicitudin, euismod nisi sed, dictum magna. Pellentesque a augue ut purus dictum ultrices nec a arcu. Phasellus et augue nec arcu bibendum dapibus a a erat. Nunc interdum dolor in lacinia aliquam. Duis facilisis augue eget risus fermentum euismod. In sit amet purus eget ipsum vestibulum vehicula et non sapien. Aliquam hendrerit, augue id ultrices sagittis, odio lacus ullamcorper neque, et bibendum lectus sem at ante. Nam et euismod est. Donec rutrum, dolor et euismod ornare, dui massa tempor eros, in consectetur sem justo eget dui.
                </p>
            </div>
        </div>
{% endblock %}