{% extends 'admin/base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/remove_article.js') }}" type="application/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Mes articles</h1>

        <div class="container">
            {% for article in articles %}
                <div class="card my-3">
                    <div class="card-head">
                        <img src="{{ asset('img/articles/' ~ article.imgloc) }}" alt="{{ article.title }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a></h5>
                        <h6 class="card-subtitle text-muted">{{ article.user.name }} le {{ article.createdat|date('Y-m-d à h:m:i') }}</h6>
                        <p>Catégorie : {{ article.category.name }}</p>
                        <div>
                            <a class="btn btn-info" href="{{ path('comment_index', {id: article.id}) }}">Gérer les commentaires</a>
                            -
                            <a class="btn btn-warning" href="{{ path('article_update', {id: article.id}) }}">Modifier</a>
                            -
                            <a class="btn btn-danger remove" data-article="{{ article.id }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}