{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-2">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_articles') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_store') }}">Ajouter un article</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
