{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Tableau de bord</h1>

        {% for article in articles %}
            <div>
                <div class="card my-3">
                    <div class="card-head">
                        <img src="{{ asset('img/articles/' ~ article.imgloc) }}" alt="{{ article.title }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a></h5>
                        <h6 class="card-subtitle text-muted">{{ article.user.name }} le {{ article.createdat|date('Y-m-d à h:m:i') }}</h6>
                        <p>Catégorie : {{ article.category.name }}</p>
                        <a href="{{ path('comment_index', {id: article.id}) }}">Gérer les commentaires</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}