{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a class="btn btn-info" href="/">Retour à la page d'accueil</a>

        <h1 class="text-center">Contact</h1>

        {{ form_start(form) }}
            <div class="form-group row my-4">
                {{ form_label(form.firstname, 'Prénom') }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.lastname, 'Nom de famille') }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.phone, 'Numéro de téléphone') }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.message) }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}