<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Blog{% endblock %}</title>
        {% block head_css %}
            <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "navbar.html.twig" %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}

        {% include "footer.html.twig" %}
    </body>
</html>
