<footer>
    <div class="container">
        <div id="socialNetworks">
            <a href="/">
                  <img src="{{ asset('img/social_networks/facebook.png') }}" alt="Facebook Logo">
            </a>
            <a href="/">
                    <img src="{{ asset('img/social_networks/twitter.png') }}" alt="Twitter Logo">
            </a>
            <a href="/">
                <img src="{{ asset('img/social_networks/instagram.png') }}" alt="Instagram Logo">
            </a>
        </div>
        <span>-</span>
        <span>Newsletter</span>
    </div>
</footer>