<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mon blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'about' ? 'current-page' : '' }}" href="{{ path('about') }}">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'contact' ? 'current-page' : '' }}" href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_logout' ? 'current-page' : '' }}" href="{{ path((is_granted('ROLE_ADMIN') ? 'admin' : 'user') ~ '_home') }}">{{ app.user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_register' ? 'current-page' : '' }}" href="{{ path('app_register') }}">Créer un compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'app_login' ? 'current-page' : '' }}" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
