<section style="width: 100%">
    <img src="{{ asset('img/articles/' ~ item.article.imgloc) }}" alt="{{ item.article.title }}">
    <div>
        <h6>
            <a href="{{ path('article_show', {id: item.article.id}) }}">{{ item.article.title }}</a>
        </h6>
        <p>{{ item.article.category.name }}</p>
    </div>
</section>