{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/like_article.js') }}" type="application/javascript"></script>
    <script src="{{ asset('js/share_article.js') }}" type="application/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% for article in articles %}
            <div class="card my-3">
                <div class="card-head">
                    <img src="{{ asset('img/articles/' ~ article.imgloc) }}" alt="{{ article.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle text-muted">{{ article.user.name }} le {{ article.createdat|date('Y-m-d à h:m:i') }}</h6>
                    <p>Temps de lecture : {{ article.readingtime }} min</p>
                    <p class="card-text mt-2">{{ article.content|u.truncate(150, '[...]') }}<a href="{{ path('article_show', {id: article.id}) }}" class="more">En savoir plus</a></p>
                    {# Advertissment for unconnected users #}
                    {% if not app.user %}
                        <div class="my-3">
                            <p>Veuillez vous connecter pour aimer ou partager un article.</p>
                        </div>
                    {% endif %}
                    <div class="my-3">
                        {% include 'share/button.html.twig' %}
                        {% include 'like/button.html.twig' %}
                    </div>
                    <p>Catégorie : {{ article.category.name }}</p>
                    <p>Tags : {{ article.tags|join('|') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
