{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/article_show.css') }}">
    <link rel="stylesheet" href="{{ asset('css/section.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/like_article.js') }}" type="application/javascript"></script>
    <script src="{{ asset('js/share_article.js') }}" type="application/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a class="btn btn-info" href="/">Retour à la page d'accueil</a>

        <h1 class="text-center mt-2">{{ article.title }}</h1>

        <div class="mt-3">
            <div id="details">
                <h5>{{ article.user.name }} le {{ article.createdat|date('Y-m-d à h:m:i') }}</h5>
                <p>Temps de lecture : {{ article.readingtime }}</p>
                <p>Catégorie : {{ article.category.name }}</p>
            </div>

            <p>{{ article.summary }}</p>

            <img src="{{ asset('img/articles/' ~ article.imgloc) }}" alt="{{ article.title }}" id="articleImg">

            <p>{{ article.content }}</p>

            <div>
                {% include 'share/button.html.twig' %}
                {% include 'like/button.html.twig' %}
            </div>
            <p>Tags : {{ article.tags|join('|') }}</p>
        </div>

        <hr class="my-5">

        <div id="comments">
            <h5>Commentaires</h5>

            {% if article.comments|length %}
                <div class="container">
                    {% for comment in article.comments %}
                        {% if comment.status == 'accepted' %}
                            <div>
                                <p>Le {{ comment.createdat|date('Y-m-d à h:m:i') }} de {{ comment.user.email }} / {{ comment.user.firstname }} {{ comment.user.lastname }}</p>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>Pas de commentaire</p>
            {% endif %}

            {% if app.user %}
                <div class="container mt-5">
                    <h6>Ajouter un commentaire</h6>
                    {{ form_start(form) }}
                    <div class="form-group row my-4">
                        {{ form_label(form.content, 'Contenu') }}
                        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button class="btn btn-primary">Ajouter le commentaire</button>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <p>Vous devez être connecté pour ajouter un commentaire.</p>
            {% endif %}

        </div>

        <hr class="my-5">

        <div id="recent" class="my-3">
            <div>
                <h5>Articles récents</h5>
                <a href="{{ path('home') }}">Voir tout</a>
            </div>
            <div>
                {% for item in articles %}
                    <section>
                        <img src="{{ asset('img/articles/' ~ item.imgloc) }}" alt="{{ item.title }}">
                        <div>
                            <h6>
                                <a href="{{ path('article_show', {id: item.id}) }}">{{ item.title }}</a>
                            </h6>
                            <p>{{ item.category.name }}</p>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}