{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/remove_article.js') }}" type="application/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-9 px-5">
                <div class="form-group row my-4">
                    {{ form_label(form.title, 'Titre') }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_label(form.content, 'Contenu') }}
                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_label(form.summary, 'Résumé') }}
                    {{ form_widget(form.summary, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_label(form.category, 'Catégorie') }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group row my-4">
                    {{ form_label(form.status, 'Visibilité') }}
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_row(form.img_loc) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_label(form.published_at, 'Date de publication') }}
                    {{ form_widget(form.published_at, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group row my-4">
                    {{ form_label(form.reading_time, 'Temps de lecture') }}
                    {{ form_widget(form.reading_time, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <a class="btn btn-info" href="{{ path('admin_articles') }}">Annuler</a>
            <button type="button" class="btn btn-danger remove" data-article="{{ article.id }}">Supprimer</button>
            <button class="btn btn-primary">Valider</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}