<span>
    {# Check connected user already shared this article #}
    {% set alreadyShared = false %}
    {% for share in article.shares %}
        {% if app.user == share.user %}
            {% set alreadyShared = true %}
        {% endif %}
    {% endfor %}
    <span id="shareCount{{ article.id }}">{{ article.shares|length }}</span>
    <button type="button" class="btn share" data-article="{{ article.id }}" data-action="{{ alreadyShared ? 'remove' : 'add' }}">
            <img src="{{ asset('img/share' ~ (alreadyShared ? '_success' : '') ~ '.png') }}" alt="Partager" class="card-icon" id="share{{ article.id }}">
    </button>
</span>
