{% extends 'user/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/section.css') }}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <h4>Articles aimés</h4>

                <div>
                    {% for item in likes %}
                        {% include 'article/card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Articles partagés</h4>

                <div>
                    {% for item in shares %}
                        {% include 'article/card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Articles commentés</h4>
            </div>
        </div>
    </div>
{% endblock %}