{% extends 'user/base.html.twig' %}

{% block title %}Informations personnelles{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Mes informations personnelles</h1>

        {{ form_start(form) }}
            <div class="form-group row my-4">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.firstname, 'Prénom') }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.lastname, 'Nom de famille') }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group row my-4">
                {{ form_label(form.name, 'Pseudo') }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button class="btn btn-primary">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
{% endblock %}